* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 300px;  
    margin: auto;
}

button {
    border-radius: 4px;
    background-color: wheat;
}

#tabelinha {
    color: blue;
    cursor: pointer;
    padding: 8px;
    border: none;
    text-decoration: none;
}











